
<div class="container-show ">
  <div class="row flex">
    <div class="col-xs-4">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 350, class: "image" %>
    </div>



    <div class="col-xs-4">
      <div class="form-ingredient">
        <h4>Add ingredient</h4>
          <%= simple_form_for [ @cocktail, @dose ] do |f| %>
            <%= f.association :ingredient, prompt: "Choose an ingredient" %>
            <%= f.input :description, label: "Quantity" %>
            <%= f.submit "Add", class: "submit" %>
          <% end %>
          <% @cocktail.doses.each do |d| %>
            <%= d.description %>
            <%= d.ingredient.name %>
          <% end %>
        </div>
      </div>


      <div class="col-xs-4">

        <%= simple_form_for [ @cocktail, @review ] do |f| %>
            <%= f.input :your_name %>
            <%= f.input :rating %>
            <%= f.input :content, label: "Your review" %>
            <%= f.submit "Add a review", class: "submit" %>
          <% end %>

        </div>
        </div>


<div class="row">
  <%= link_to "Back to cocktails", cocktails_path %>
</div>
</div>
</div>
